/* Styling sheet */
body
{
	background-image: url("B3.jpeg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: powder blue;
	background-attachment: fixed;
	
}
.logo img
{
	border-radius: 50%;
	float: left;
	height: 50px;
	margin: 1px;
	width: 50px;
}
h1,h2
{
	text-align: center;
	color: brown;
	font-family: "Underdog", system-ui;
}
hr.CE
{
	border-bottom: 5px solid red;
}
h3
{
	font-family: "Bebas Neue", sans-serif;
	text-align: center;
	word-spacing: 5px;
	background-color: transparent;
	color: black;
}

.nav-item
{
	word-spacing: 2px;
	display: flex;
	gap: 50px;
	justify-content: center;
	/*bottom: 20px; */
}
.navbar
{
	text-align: center;
	justify-content: center;
}
.dicegame img
{
	property: opacity, values: (0:0);
	border-radius: 5px;
	height: 50px;
	width: 80px;
	background-color: transparent;
	padding-left: 20px;
}
p1
{
	padding-left: 5px;
}
p2
{
	padding-left: 5px;
	bottom: 20px;
}
p3
{
	padding-left: 5px;
}
h4
{
	text-align: center;
}
h5
{
	text-align: center;
}
	
form.order
{
	text-align: center;
}
.IC
{
	display:flex;
	justify-content: center;
	margin-bottom: 10%;
	padding:20px;
}
/*Styling food1 image*/
.food1 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}
.food2 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}
.food3 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}
.food4 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}

.ID
{
	display:flex;
	justify-content: center;
	margin-bottom: 10%;
	padding:20px;
}
.d1 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}
.d2 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}
.d3 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}
.d4 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	cursor: pointer; /*cursor changes to pointer, that denotes its clickable*/
}
figure 
{
  padding: 4px;
  margin: auto;
  text-align: center;
  width: 360px;
  word-spacing: 5px;
}
figcaption 
{
  background-color: transparent;
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

#info1
{
	text-align: center;
	word-spacing: 2px;
}
#info2
{
	text-align: center;
	word-spacing: 2px;
}