/* Styling sheet */
body
{
	background-image: url("B3.jpeg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: powder blue;
	background-attachment: fixed;
	
}
.logo img
{
	border-radius: 50%;
	float: left;
	height: 50px;
	margin: 1px;
	width: 50px;
}
h1,h2
{
	text-align: center;
	color: brown;
	font-family: "Underdog", system-ui;
}
hr.CE
{
	border-bottom: 5px solid red;
}
h3
{
	text-align: center;
	word-spacing: 5px;
	background-color: transparent;
	color: black;
}

.navbar
{
	word-spacing: 2px;
}
p1
{
	text-align: center;
}

.IC
{
	display:flex;
	justify-content: center;
	margin-bottom: 10%;
}
.food1 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.food2 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.food3 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.food4 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.ID
{
	display:flex;
	justify-content: center;
	margin-bottom: 10%;
}
.d1 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.d2 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.d3 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
.d4 img
{
	display: flex;
	width:250px;
	height:350px;  
    object-fit: cover;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}
figure 
{
  padding: 4px;
  margin: auto;
  text-align: center;
  width: 360px;
  word-spacing: 5px;
}
figcaption 
{
  background-color: transparent;
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

#info1
{
	text-align: center;
	word-spacing: 2px;
}